<template>
    <footer class="footer">
        <div class="uk-container">
            footer
        </div>
    </footer>
</template>

<script>
    export default {
        name: 'AppFooter'
    }
</script>