<template>
    <header class="header">
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-1-2@m">
                    <router-link to="/">logo</router-link>
                </div>
                <div class="uk-width-1-2@m">
                    <app-header-menu></app-header-menu>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
    import AppHeaderMenu from "./AppHeaderMenu";

    export default {
        name: 'AppHeader',
        components: {AppHeaderMenu}
    }
</script>