<template>
   <div class="header-menu">
       <ul>
           <li v-for="(link, index) in links" :key="index">
               <router-link :to="link.url">
                   {{ link.title }}
               </router-link>
           </li>
       </ul>
   </div>
</template>

<script>
    export default {
        name: 'AppHeaderMenu',
        data(){
            return {
                links: [
                    {url: "/", title: 'Home'},
                    {url: "/radio", title: 'Radio'},
                    {url: "#", title: 'link_3'},
                    {url: "#", title: 'link_4'}
                ]
            }
        }
    }
</script>