*, *:before, *:after{
  box-sizing: border-box;
}
body{
  background: $bg-base;
  font: $light $f-size $f-stack;
  line-height: 1.4;
  color: $base;
}
ul, ol{
  padding: 0;
  margin: 0;
}
a{
  outline: none;
  color: $link;
  transition: all .3s;
  text-decoration: none;
  &:hover, &:focus{
    outline: none;
  }
  &:hover{
    text-decoration: underline;
  }
}
img{
  max-width: 100%;
  height: auto;
}
body, html{
  height: 100%;
}
.globwrap{
  min-height: 100%;
}
p{
  margin: 0 0 10px 0;
}
.bgimg {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.bgimgcont{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.dib {
  display: inline-block;
  vertical-align: top;
}
.d-table{
  display: table;
  width: 100%;
}
.d-cell{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.opacity-0{
  opacity: 0;
}
.opacity-1{
  opacity: 1;
}
.wrap{
  max-width: $contentWidth;
  margin: 0 auto;
  position: relative;
}
.hidden{
  display: none;
}
h1, h2, h3, h4, h5, h6{
  margin-top: 0;
  font-weight: $medium;
}
h1{
  font-size: 30px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
h2{
  font-size: 30px;
  margin-bottom: 40px;
}
h3{
  font-size: 30px;
  margin-bottom: 40px;
}
h4{
  margin-bottom: 18px;
}
.slide-up, .slide-down{
    overflow-y: hidden;
    transition: all 0.5s ease-in-out;
}