$white: #ffffff;
$black: #000000;
$tuna: #373742;
$smoky: #f7f7f7;
$alabaster: #fafafa;

$border: $black;
$base: $black;
$link: $black;
$bg-base: $white;

$f-size: 16px;

//font-weight
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;

$footer: 260px;

$contentWidth: 1200px;

$f-stack: 'Open Sans', sans-serif;