<template>
    <div>
        <button @click="slideToggle">button</button>
        <div ref="toggleEl" class="slide-up" :class="{'slide-down': togClass}" :style="{'height': height + 'px'}">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda earum facere in itaque laudantium quae
            quam quidem recusandae sunt ut. Exercitationem magnam maxime non, optio quibusdam recusandae tempore temporibus vero!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi assumenda culpa debitis error est
            illo impedit iste maxime molestiae non nostrum nulla numquam odit omnis quisquam, sint temporibus, vel?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda earum facere in itaque laudantium quae
            quam quidem recusandae sunt ut. Exercitationem magnam maxime non, optio quibusdam recusandae tempore temporibus vero!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi assumenda culpa debitis error est
            illo impedit iste maxime molestiae non nostrum nulla numquam odit omnis quisquam, sint temporibus, vel?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda earum facere in itaque laudantium quae
            quam quidem recusandae sunt ut. Exercitationem magnam maxime non, optio quibusdam recusandae tempore temporibus vero!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi assumenda culpa debitis error est
            illo impedit iste maxime molestiae non nostrum nulla numquam odit omnis quisquam, sint temporibus, vel?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda earum facere in itaque laudantium quae
            quam quidem recusandae sunt ut. Exercitationem magnam maxime non, optio quibusdam recusandae tempore temporibus vero!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi assumenda culpa debitis error est
            illo impedit iste maxime molestiae non nostrum nulla numquam odit omnis quisquam, sint temporibus, vel?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda earum facere in itaque laudantium quae
            quam quidem recusandae sunt ut. Exercitationem magnam maxime non, optio quibusdam recusandae tempore temporibus vero!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi assumenda culpa debitis error est
            illo impedit iste maxime molestiae non nostrum nulla numquam odit omnis quisquam, sint temporibus, vel?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda earum facere in itaque laudantium quae
            quam quidem recusandae sunt ut. Exercitationem magnam maxime non, optio quibusdam recusandae tempore temporibus vero!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi assumenda culpa debitis error est
            illo impedit iste maxime molestiae non nostrum nulla numquam odit omnis quisquam, sint temporibus, vel?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda earum facere in itaque laudantium quae
            quam quidem recusandae sunt ut. Exercitationem magnam maxime non, optio quibusdam recusandae tempore temporibus vero!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi assumenda culpa debitis error est
            illo impedit iste maxime molestiae non nostrum nulla numquam odit omnis quisquam, sint temporibus, vel?
        </div>
        <ul>
            <li v-for="n in 10" ref="listEl">list item</li>
        </ul>
        <v-select v-model="selected" :options="[{label: 'foo', value: 1}, {label: 'bar', value: 2}]"></v-select>
        <p>selected {{selected}}</p>
    </div>
</template>

<script>
    import vSelect from 'vue-select';

    export default {
        name: 'HomePage',
        data () {
            return {
                msg: 'Welcome to Your Vue.js App',
                togClass: false,
                height: 0,
                selected: ''
            }
        },
        methods: {
            slideToggle(){
                this.togClass = !this.togClass;
                if(!this.height){
                    this.height = this.$refs.toggleEl.scrollHeight;
                }else{
                    this.height = 0;
                }
            }
        },
        components: {vSelect}
    }
</script>