<template>
    <div class="radio-page">
        <h1>{{ msg }}</h1>
    </div>
</template>

<script>
    export default {
        name: 'RadioPage',
        data () {
            return {
                msg: 'radio page',
            }
        }
    }
</script>