<template>
  <div class="gen">
    <app-header></app-header>
    <main class="main">
      <div class="uk-container">
        <router-view />
      </div>
    </main>
    <app-footer></app-footer>
  </div>
</template>

<script>
import AppHeader from './components/includes/AppHeader';
import AppFooter from './components/includes/AppFooter';

export default {
  name: 'App',
  components: {AppHeader, AppFooter}
}
</script>
